@import 'variables.scss';

#about {
  .section {
    display: flex;
    .about-block {
      display: flex;
    }
    .profile-section {
      width: 60%;
      padding-right: 10px;
      text-align: center;
      .profile-icon {
        font-size: 300px;
      }
      h2, h3, p {
        text-align: left;
      }
    }
    .interest-section {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .skill-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 10px;
    width: 40%;
  }
  @media only screen and (max-device-width : 768px) {
    .layout {
      @include mobile-layout;
      .section,
      .profile-section,
      .interest-section {
        width: 100%;
        padding: 0;
      }
      .about-block {
        flex-direction: column;
      }
    }
    .about-section {
      width: 100%;
      padding-right: 0;
      .profile-section .profile-icon {
        font-size: 200px;
      }
    }
    .interest-section {
      padding-left: 0;
      svg {
        height: auto;
        max-width: 60px;
        padding: var(--universal-padding);
      }
    }
  }
}