@import 'variables.scss';

#about {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
    width: 60%;
    .profile-section {
      text-align: center;
      .profile-icon {
        font-size: 300px;
      }
    }
  }
  .skill-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 10px;
    width: 40%;
  }
  @media only screen and (max-device-width : 768px) {
    .about-layout {
      @include mobile-layout;
    }
    .about-section {
      width: 100%;
      padding-right: 0;
      .profile-section .profile-icon {
        font-size: 200px;
      }
    }
    .skill-section {
      width: 100%;
      padding-left: 0;
      svg {
        height: auto;
        max-width: 80px;
        padding: var(--universal-padding);
      }
    }
  }
}