@import 'variables.scss';

.about-viewport {
  @include flex-center;
  background: $jlchuang-dark-color;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 30px;
  .about-layout {
    @include section-box;
  }
  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
    width: 60%;
    .profile-section {
      text-align: center;
      .profile-icon {
        font-size: 300px;
      }
    }
  }
  .skill-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 10px;
    width: 40%;
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
    .about-layout {
      flex-direction: row;
      height: 100%;
      transform: none;
      position: relative;
      padding: $universal-padding * 2;
      margin: calc(60px - #{$universal-padding}) 0;
      width: calc(100% - #{$universal-padding * 4});
      top: 0;
      left: 0;
    }
    .about-section {
      width: 100%;
    }
    .skill-section {
      display: flex;
      text-align: left;
      width: 100%;
      padding-left: 0;
      svg {
        height: auto;
        width: calc(33.33% - #{$universal-padding * 2});
        padding: $universal-padding;
      }
    }
  }
}