@import 'variables.scss';

#contact {
  .layout {
    .contact-narrative {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60%;
      padding-right: 10px;
    }
    .contact-icons {
      display: flex;
      justify-content: center;
      width: 40%;
      align-items: center;
      .email-link,
      .linkedin-link,
      .github-link,
      .medium-link {
        text-decoration: none;
        box-shadow: none;
        color: var(--jlchuang-accent-color);
        &:hover, &:focus {
          color: var(--jlchuang-pale-color);
        }
      }
      svg {
        font-size: 50px;
        padding: var(--universal-padding);
      }
    }
  }
  @media only screen and (max-device-width : 768px) {
    .layout {
      @include mobile-layout;
      .contact-narrative {
        padding-right: 0px;
        width: 100%;
      }
      .contact-icons {
        width: 100%;
        svg {
          font-size: 40px;
          padding: var(--universal-padding);
        }
      }
    }
  }
}