@import 'variables.scss';

.contact-section {
  @include flex-center;
  background: $jlchuang-dark-alt-color;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  .contact-layout {
    @include section-box;
    .contact-narrative {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60%;
      padding: 10px;
    }
    .contact-icons {
      display: flex;
      justify-content: center;
      width: 40%;
      align-items: center;
      .email-link,
      .linkedin-link,
      .github-link,
      .medium-link {
        text-decoration: none;
        box-shadow: none;
        color: $jlchuang-accent-color;
        &:hover, &:focus {
          color: $jlchuang-pale-color;
        }
      }
      svg {
        font-size: 50px;
        padding: $universal-padding * 2;
      }
    }
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
    .contact-layout {
      display: block;
      height: 100%;
      transform: none;
      position: relative;
      padding: $universal-padding * 2;
      margin: calc(60px - #{$universal-padding}) 0;
      width: calc(100% - #{$universal-padding * 4});
      top: 0;
      left: 0;
      .contact-narrative {
        width: 100%;
        padding: 0px;
      }
      .contact-icons {
        display: block;
        width: 100%;
        text-align: center;
        svg {
          padding: $universal-padding;
        }
      }
    }
  }
}