@import 'variables.scss';

.experience-section {
  @include flex-center;
  background: $jlchuang-dark-alt-color;
  min-height: 100vh;
  .experience-layout {
    @include section-box;
    .experience, .education {
      h1, h2 {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .experience-block, .education-block {
        h3, h4 {
          margin-top: 10px;
          margin-bottom: 10px;
        }
        h3 {
          color: $jlchuang-accent-dark-color;
        }
        h4 {
          color: $jlchuang-accent-pale-color;
        }
      }  
    }
    .experience {
      padding-right: 20px;
      width: 60%;
    }
    .education {
      padding-left: 20px;
      width: 40%;
    }
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .experience-layout {
      @include mobile-layout;
      .experience {
        width: 100%;
      }
      .education {
        width: 100%;
        margin-top: $universal-margin * 2;
        padding-left: 0px;
      }
    }
  }
}