@import 'variables.scss';

.landing-section {
  @include flex-center;
  min-height: 100vh;
}
.landing-layout {
  @include flex-center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    div {
      padding: var(--header-height) 30px 30px 30px;
      h1 {
        border-bottom: 1px dotted white;
        padding: 10px;
        color: white;
        font-size: 50px;
        font-weight: 100;
      }
      p {
        padding: 10px;
        color: white;
        font-size: 30px;
        font-weight: 100;
      }
    }
  }
  .intro {
    font-family: var(--jlchuang-josefin-sans-font-family);
  }
  .subtitle {
    margin: 10px;
    color: var(--jlchuang-accent-color);
  }
}
