@import 'variables.scss';

.landing-section {
  @include flex-center;
  min-height: 100vh;
  .landing-layout {
    @include flex-center;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      div {
        padding: var(--header-height) 30px 30px 30px;
        h1 {
          border-bottom: 1px dotted white;
          padding: 10px;
          color: white;
          font-size: 50px;
          font-weight: 100;
        }
        p {
          padding: 10px;
          color: white;
          font-size: 30px;
          font-weight: 100;
        }
      }
    }
    .intro {
      font-family: 'Josefin Sans', sans-serif;
    }
    .subtitle {
      margin: 10px;
      color: $jlchuang-accent-color;
    }
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    // position: relative;
    // width: 100%;
    // overflow: hidden;
  }
}
