@import 'variables.scss';

nav {
  display: flex;
  ol, ul {
    list-style: none outside none;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
    li {
      margin: 0 20px;
      a {
        font-family: 'Cabin', sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: $jlchuang-pale-color;
        text-transform: uppercase;
        text-decoration: none;
        box-shadow: none;
        &:hover, &:focus {
          color: $jlchuang-accent-color;
        }
      }
    }
    .medium {
      width: 0.875em;
    }
  }
  .mobile-nav {
    display: none;
    background: none;
    border: none;
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    a {
      font-size: 18px;
    }
    .mobile-nav {
      display: flex;
      color: $jlchuang-pale-color;
      font-size: 30px;
      padding: $universal-padding * 1.5;
      &.active {
        background: none;
        color: $jlchuang-accent-color;
      }
    }
    .navbar-laptop {
      display: none;
    }
    ul {
      margin: 0;
    }
    .navbar-mobile {
      display: block;
      position: absolute;
      background: rgba($jlchuang-dark-color, 0.95);
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding: 0;
      margin-top: 80px;
      li {
        padding: 0;
        margin: 0;
        a {
          display: block;
          color: $jlchuang-pale-color;
          padding: $universal-padding $universal-padding * 2;
          font-size: 18px;
          &:hover, &:active {
            box-shadow: none;
          }
        }
        &:active, &:hover, &:focus {
          background-color: $jlchuang-accent-color;
        }
      }
    }
  }
}