@import 'variables.scss';

.projects-viewport {
  @include flex-center;
  background: $jlchuang-dark-color;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  .projects-layout {
    @include section-box;
    .projects-section {
      width: 100%;
    }
    .projects-list {
      display: flex;
    }
    .project-card {
      padding-right: $universal-margin;
      &:last-child {
        padding-right: 0;
      }
      a {
        &:hover, &:focus {
          .project-image {
            opacity: 1;
          }
          h3 {
            color: $jlchuang-pale-color;
          }
        }
      }
    }
    .project-technologies {
      display: flex;
      svg {
        width: 10%;
        fill: $jlchuang-accent-color;
        padding: $universal-padding;
      }
    }
  }
  .project-image {
    width: 100%;
    height: 250px;
    opacity: .8;
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    .projects-layout {
      @include mobile-layout;
      .projects-list {
        flex-direction: column;
      }
      .project-card {
        padding-right: 0;
      }
    }
  }
}