@import 'variables.scss';

#skills {
  .skill-block {
    display: flex;
  }
  .framework-block {
    padding-right: 20px;
    width: 60%;
  }
  .language-block {
    padding-left: 20px;
    width: 40%;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    gap: var(--universal-margin);
    row-gap: var(--universal-margin);
  }
}
