:root {
  /* Heights */
  --header-height: 64px;

  /* Colors */
  --jlchuang-pale-color:              #FFFFFF;
  --jlchuang-pale-alt-color:          #EFEFEF;
  --jlchuang-dark-color:              #0D0D0D;
  --jlchuang-dark-alt-color:          #222226;
  --jlchuang-accent-color:            #efb697;
  --jlchuang-accent-pale-color:       #f6d5c3;
  --jlchuang-accent-dark-color:       #e8976b;

  /* Layouts */
  --universal-padding:                  10px;
  --universal-margin:                   20px;

  /* Fonts */
  --jlchuang-josefin-sans-font-family: 'Josefin Sans', sans-serif;
  --jlchuang-cardo-font-family:        'Cardo', sans-serif;
}

@mixin flex-center {
  display: flex;
  align-content: center;
  justify-content: center;
}

@mixin section-box {
  @include flex-center;
  max-width: 1000px;
  padding: var(--header-height) 30px 30px 30px;
}

@mixin linear-gradient {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}

@mixin mobile-layout {
  flex-direction: column;
  // text-align: justify;
  width: 100%;
}