// Colors
$jlchuang-pale-color:         #FFFFFF;
$jlchuang-pale-alt-color:     #EFEFEF;
$jlchuang-dark-color:         #0D0D0D;
$jlchuang-dark-alt-color:     #222226;
$jlchuang-accent-color:       #efb697;
$jlchuang-accent-pale-color:  lighten( $jlchuang-accent-color, 10% );
$jlchuang-accent-dark-color:  darken( $jlchuang-accent-color, 10% );

// Layout
$universal-padding:           10px;
$universal-margin:            20px;

// Mobile
$universal-mobile-padding:    20px;

// TODO: update these to css variables

:root {
  --header-height: 64px;
}

@mixin flex-center {
  display: flex;
  align-content: center;
  justify-content: center;
}

@mixin section-box {
  @include flex-center;
  max-width: 1000px;
  padding: var(--header-height) 30px 30px 30px;
}