// Colors
$jlchuang-pale-color:         #F2F2F2;
$jlchuang-pale-alt-color:     #FFFFFF;
$jlchuang-dark-color:         #0D0D0D;
$jlchuang-dark-alt-color:     #2C343B;
$jlchuang-accent-color:       #418FBF;
$jlchuang-accent-pale-color:  #99D0F2;
$jlchuang-accent-dark-color:  #176FA6;

// Layout
$universal-padding:           10px;
$universal-margin:            20px;

// Mobile
$universal-mobile-padding:    20px;